<div class="dialog-content">
	<h2 mat-dialog-title> {{ this.typeOfDialog === 'template' ? 'Apply template' : 'Select new' + this.typeOfDialog }}</h2>
	<mat-dialog-content>
		@if (dialogData === null) {
			<app-loading-fallback stringToDisplay="Loading the job"></app-loading-fallback>
		}
		@else {
			<app-table-component 
				[loadDataToTable]="
					typeOfDialog === 'template'
					? this.loadJobTemplatesToTable.bind(this)
					: typeOfDialog === 'customer' 
						? this.loadCustomersToTable.bind(this) 
						: typeOfDialog === 'service' 
							? this.loadServicesToTable.bind(this) 
							: typeOfDialog === 'material' 
								? this.loadMaterialsToTable.bind(this)
								: this.loadContractorsToTable.bind(this)" 
				editRedirect="" 
				[hideValues]="['Actions', 'Id']"
				[fetchedData]="this.dialogData"
				[checkbox]="this.typeOfDialog === 'customer' || 'template' ? 'single' : 'multiple'"
				[unitUsedField]="this.isMaterial"
				[pricePerUnitField]="this.isMaterial"
				[checkedIds]="
					typeOfDialog === 'template'
					? this.selectedTemplate
					: typeOfDialog === 'customer' 
						? this.selectedCustomer 
						: typeOfDialog === 'service' 
							? this.selectedServices 
							: typeOfDialog === 'material' 
								? this.selectedMaterials
								: this.selectedContractors"
				[materialInputFields]="this.materialInputFields"
				[setCheckedIds]="
					typeOfDialog === 'template'
					? this.setSelectedJobTemplate.bind(this)
					: typeOfDialog === 'customer' 
						? this.setSelectedCustomer.bind(this) 
						: typeOfDialog === 'service' 
							? this.setSelectedServices.bind(this) 
							: typeOfDialog === 'material' 
								? this.setSelectedMaterials.bind(this)
								: this.setSelectedContractors.bind(this)"
				[setMaterialInputFields]="this.setMaterialInput.bind(this)"
				[searchHint]="this.searchHint"
				[width]="'700vw'"
			></app-table-component> 
		}
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-stroked-button (click)="onCancel()">Cancel</button>
		<button mat-flat-button type="submit" [disabled]="this.isNotSelectedItems" (click)="onConfirm()">
			{{this.typeOfDialog === 'template' ? 'Apply' : this.typeOfDialog === 'customer' ? this.data.dialogData === 0 ? 'Select' : 'Change' : 'Add' }}
		</button>
	</mat-dialog-actions>
</div>

