<div class="parent">
  <div class="main-heading">
    <h1>
      <span>Edit {{this.currentMaterialName}} material</span>
    </h1>
  </div>
  <form class="parent" [formGroup]="materialForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>New name</mat-label>
      <input
        formControlName = "materialName"
        matInput
        placeholder="Ex: BM Blue Paint"
        required
      >
      @if (materialForm.get('materialName')?.touched && materialForm.get('materialName')?.hasError('required')) {
        <mat-error>Material Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        formControlName = "materialDescription"
        matInput
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Default Cost</mat-label>
      <input formControlName="materialDefaultCost" matInput>
    </mat-form-field>

    <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
      <button mat-flat-button type="submit">Save Changes</button>
      <button mat-stroked-button (click)="navigateToPage('materials')">Cancel</button>
    </div>
  </form>
</div>
