<div class="parent">
  <div class="main-heading">
    @if (customers === null) {
      <app-loading-fallback stringToDisplay="Loading the job table"></app-loading-fallback>
    }
    @else {
      <h1>
        <span>Create Jobs</span>
      </h1>
      <div class="flex flex-col items-center">
        <app-invoice-date-picker 
            [formControll]="range"
            [dateLabels]="['Start date', 'End date']"
        ></app-invoice-date-picker>
        <h2 class="pb-5 pt-5">Select a customer</h2>
        <app-table-component 
            [loadDataToTable]="loadCustomersToTable.bind(this)" 
            editRedirect="" 
            [hideValues]="['Actions', 'Id']"
            [fetchedData]="customers"
            checkbox="single"
            [checkedIds]="selectedCustomers"
            [setCheckedIds]="setSelectedCustomers.bind(this)"
            searchHint="Search by customer name"
            [headers]="['Checkbox','First Name','Last Name', 'Email', 'Phone No']"
        ></app-table-component>
        @if (selectedCustomersIsError) {
            <mat-error class="mt-3">You must select a customer to continue</mat-error>    
        }
        <div class="spacer"></div>

        @if (selectedCustomers.length !== 0) {
          <app-table-component 
              [loadDataToTable]="loadServicesToTable.bind(this)" 
              editRedirect="" 
              [hideValues]="['Actions', 'Id']"
              [fetchedData]="services"
              checkbox="multiple"
              [checkedIds]="selectedServices"
              [setCheckedIds]="setSelectedServices.bind(this)"
              searchHint="Search by service name"
              [headers]="['Checkbox', 'Service Name', 'Service Description']"
          ></app-table-component> 
          @if (selectedServicesIsError) {
              <mat-error class="mt-3">You must include at least a service to a job</mat-error>    
          }
        }
        <div class="spacer"></div>

        @if (selectedServices.length !== 0) {
          <app-table-component 
              [loadDataToTable]="loadMaterialsToTable.bind(this)" 
              editRedirect="" 
              [hideValues]="['Actions', 'Id']"
              [fetchedData]="materials"
              checkbox="multiple"
              [unitUsedField]="true"
              [pricePerUnitField]="true"
              [checkedIds]="selectedMaterials"
              [materialInputFields]="materialInputFields"
              [setCheckedIds]="setSelectedMaterials.bind(this)"
              [setMaterialInputFields]="setMaterialInput.bind(this)"
              searchHint="Search by material name"
              [headers]="['Checkbox', 'Material Name', 'Material Description']"
          ></app-table-component> 
        }
        <div class="spacer"></div>

        @if (selectedServices.length !== 0) {
          <app-table-component 
              [loadDataToTable]="loadContractorsToTable.bind(this)" 
              editRedirect="" 
              [hideValues]="['Actions', 'Id']"
              [fetchedData]="contractors"
              checkbox="multiple"
              [checkedIds]="selectedContractors"
              [setCheckedIds]="setSelectedContractors.bind(this)"
              searchHint="Search by contractor name"
              [headers]="['Checkbox', 'Contractor Name', 'Phone Number', 'Email']"
          ></app-table-component> 
        }
        <div class="spacer"></div>
        <form class="parent" [formGroup]="jobForm" (ngSubmit)="onSubmit()">
          <div class="grid-container">
            <mat-form-field >
              <mat-label>Assigned Address</mat-label>
              <input
                formControlName = "requestorAddress"
                matInput
              >
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Assigned City</mat-label>
              <input
                formControlName = "requestorCity"
                matInput
              >
            </mat-form-field>
            <mat-form-field>
              <mat-label>Assigned State</mat-label>
              <mat-select formControlName="requestorStateSelect">
                @for (state of states; track state) {
                  <mat-option [value]="state.name">{{state.name}} - {{state.code}}</mat-option>
                }
              </mat-select>
              @if (jobForm.get('requestorStateSelect')?.touched && jobForm.get('requestorStateSelect')?.hasError('required')) {
                <mat-error>State is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Assigned Zip Code</mat-label>
              <input
                formControlName = "requestorZip"
                matInput
              >
            </mat-form-field>
          </div>
          <mat-form-field>
            <mat-label>Job Description</mat-label>
            <input
              formControlName = "jobDescription"
              matInput
            >
            @if (jobForm.get('jobDescription')?.touched && jobForm.get('jobDescription')?.hasError('required')) {
              <mat-error>Job Description is required</mat-error>
            }
          </mat-form-field>
          
        </form>
      </div>
    }
    <button mat-raised-button class="mt-10 mb-5" (click)="onSubmit()">Create</button>
  </div>
</div>

