<div class="parent">
  <div class="main-heading">
		@if (invoiceData === null) {
			<app-loading-fallback stringToDisplay="Loading your invoice"></app-loading-fallback>
		}
		@else {
			<h1>
				Invoice Information
			</h1>
			<mat-card class="flex p-5 items-center">
					<table class="info-table" data-testid="info-table">
						<tr>
							<td>Customer</td>
							<td>{{invoiceData.customer}}</td>
						</tr>
						<tr>
							<td>Status</td>
							<td>{{invoiceData.status}}</td>
						</tr>
						<tr>
							<td>Issued Date</td>
							<td>{{invoiceData.issuanceDate}}</td>
						</tr>
						<tr>
							<td>Due Date</td>
							<td>{{invoiceData.dueDate}}</td>
						</tr>
					</table>
				<app-invoice-job [data]="invoiceData"></app-invoice-job>
					<button mat-fab extended class="m-10" (click)="navigateViewInvoice()">
							<mat-icon>auto_awesome</mat-icon>
							Generate Invoice
					</button>
					<button mat-stroked-button class="mb-5" (click)="navigateToPage('invoices')">Return</button>
			</mat-card>
	}
	</div>
</div>

