.table {
    border-color: #74777f;
    border-width: 1px;
    width: 100% !important;
    min-width: 100% !important;
}


@media (max-width: 400px) {
    .hide-on-mobile {
      display: none !important;
    }
  }