<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggle()" matTooltip="Open sidebar">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HSA</span>
  <span class="flex-auto"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Favorite">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" matTooltip="Share">
    <mat-icon>share</mat-icon>
  </button>
  @if (isLoggedIn === false) {
    <button mat-icon-button class="login-icon" aria-label="Example icon-button with login icon" (click)="navigateToPage('login')" matTooltip="Login">
      <mat-icon>login</mat-icon>
    </button>
  }
  @if (isLoggedIn === true) {
    <button mat-icon-button class="logout-icon" aria-label="Example icon-button with logout icon" (click)="onLogout()" matTooltip="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>
