@if (jobTemplateData === null) {
  <app-loading-fallback stringToDisplay="Loading the job template"></app-loading-fallback>
}
@else {
  <h2 mat-dialog-title>Confirm Apply {{ jobTemplateData.data.name }}</h2>
  <mat-dialog-content>Description: {{ jobTemplateData.data.description }}</mat-dialog-content>
  <div style="padding: 20px;" class="dialog-scroll-wrapper">
    <app-job-display-table
      [dataSource]="jobTemplateData.services"
      [typeToDisplay]="'service'"
    ></app-job-display-table>
    <app-job-display-table
      [dataSource]="jobTemplateData.materials"
      [typeToDisplay]="'material'"
    ></app-job-display-table>
  </div>
  
  <mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button type="submit" (click)="onConfirm()">Confirm</button>
  </mat-dialog-actions>
}

