<app-page-template [title]="'Services'">
  <div class="main-heading">
    @if (loading) {
      <app-loading-fallback stringToDisplay="Loading services"></app-loading-fallback>
    }
    @else {
      <app-table-component
        [fetchedData]="services"
        [tableModel]="'services'"
        [deleteRequest]="serviceService.deleteService.bind(serviceService)"
        [loadDataToTable]="this.loadDataToTable.bind(this)"
        [hideValues]="['Id']"
        [searchHint]="'Search by service name'"
        [headers]="['Service Name', 'Service Description']"
      ></app-table-component>

    }
  </div>
</app-page-template>
