<div class="parent">
    <div class="main-heading">
      @if (jobs === null) {
        <app-loading-fallback stringToDisplay="Loading the job table"></app-loading-fallback>
      }
      @else {
      <h1>
        <span>Jobs</span>
      </h1>
      <app-table-component
        [tableModel]="'jobs'"
        [fetchedData]="jobs"
        [deleteRequest]="jobService.deleteJob.bind(jobService)"
        [loadDataToTable]="this.loadDataToTable.bind(this)"
        searchHint="Search by any keywords"
        [hideValues]="['Id']"
        [width]="'auto'"
        [clickableRows]="true"
        [onRowClick]="redirectJobDetails.bind(this)"
        ></app-table-component>
      <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
        <button mat-fab extended class="m-10" id="add-job-button" (click)="navigateToPage('jobs/create')">
          <mat-icon>note_add</mat-icon>
          Add a job
        </button>
      </div>
  }
  </div>
</div>
