<app-page-template [title]="'Jobs'">
  @if (loading) {
    <app-loading-fallback stringToDisplay="Loading jobs"></app-loading-fallback>
  }
  @else {
  <app-table-component
    [tableModel]="'jobs'"
    [fetchedData]="jobs"
    [deleteRequest]="jobService.deleteJob.bind(jobService)"
    [loadDataToTable]="this.loadDataToTable.bind(this)"
    searchHint="Search by any keywords"
    [hideValues]="['Id']"
    [width]="'auto'"
    [clickableRows]="true"
    [onRowClick]="redirectJobDetails.bind(this)"
  ></app-table-component>
  }
</app-page-template>
