<div class="parent">
  <div class="main-heading">
    <mat-card class="flex p-5 flex-direction: column; items-center">
      <h1>
        <span>Login</span>
      </h1>
      <form class="flex flex-col justify-center">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput 
            [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
            placeholder="username">
            @if (usernameFormControl.hasError('required')) {
              <mat-error>Username is <strong>required</strong></mat-error>
            }
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" type="password"
            [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
            @if (passwordFormControl.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <div class="items-center">
          <button mat-flat-button type="submit" class="mt-10 mb-5" (click)="onSubmit()">Login</button>
          <button mat-raised-button class="mt-10 mb-5" (click)="navigateToPage('signup')">Sign up</button>
        </div>
      </form>
    </mat-card>
    
  </div>
</div>
