<div class="flex flex-col items-center">
  
  <form class="flex flex-col justify-center">
    <mat-form-field>
      <mat-label>username</mat-label>
      <input matInput 
        [formControl]="requiredFormControl" [errorStateMatcher]="matcher"
        placeholder="username">
        @if (requiredFormControl.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
        }
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>password</mat-label>
      <input matInput placeholder="password" type="password"
        [formControl]="requiredFormControl" [errorStateMatcher]="matcher">
        @if (requiredFormControl.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
    </mat-form-field>
    <button mat-raised-button>Login</button>
  </form>
</div>
