<div class="mat-elevation-z8 table min-w-lg">
  @if (!hideSearch) {
    <form class="flex justify-between form pb-1">
      <mat-form-field class="w-full">
        <mat-label>Search Here</mat-label>
        <input matInput [formControl]="searchControl">
        <mat-hint>{{searchHint()}}</mat-hint>
      </mat-form-field>
    </form>
  }
  <table mat-table [dataSource]="data" class="width: {{ width }}">

    @for (header of headersWithActions; track header) {
    <ng-container [matColumnDef]="header">
      <th mat-header-cell *matHeaderCellDef>
        <ng-container>
          {{ header === "Checkbox" ? "" : header }}
        </ng-container>
      </th>
      <td mat-cell *matCellDef="let element; let i = $index;">
        @if (header === "Actions") {
        <div class="flex justify-between">
            <button mat-mini-fab click-stop-propagation (click)="redirectEdit(element.id, element)">
              <mat-icon>edit</mat-icon>
            </button>
          <button mat-mini-fab click-stop-propagation (click)="openDeleteDialog(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        } 
        @else if (header === "Checkbox") {
          <mat-checkbox [checked]="shouldCheckCheckbox(element.id)" (change)="handleCheckBoxClick(element.id)"></mat-checkbox>
        }
        @else  {
        {{ element[stringFormatter.formatCamelToSnake(header)] }}
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="headersWithActions"></tr>
    <tr mat-row class="{{clickableRows ? 'cursor-pointer' : ''}}" (click)="rowClick(row)" *matRowDef="let row; columns: headersWithActions;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [length]="dataSize"></mat-paginator>
</div>