.table {
    background-color:rgb(250, 249, 253);
}

.form {
    border-bottom: solid;
    border-bottom-color: rgb(116, 119, 127);
    border-bottom-width: 1px;
}

.right-align {
    text-align: right;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 500px;
}

.table-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty-message {
    padding: 50px 0;
    font-size: 1.2rem;
}