<div class="reset-container">
    <mat-card>
      <mat-card-title>Reset your password</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" placeholder="Enter your email" [errorStateMatcher]="matcher"/>
            @if (email.hasError('email')) {
              <mat-error>
                Please enter a valid email
              </mat-error>
            }
            @if (email.hasError('required')) {
              <mat-error>
                Email is required
              </mat-error>
            }
          </mat-form-field>
          <button mat-raised-button color="primary" type="button" (click)="onSubmit()">
            Send Reset Link
          </button>
        </form>

        
      </mat-card-content>
    </mat-card>
  </div>
  