<app-page-template [title]="'Reset Your Password'">
<div class="table-header">
  <div class="reset-container">
    <mat-card>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" placeholder="Enter your email" [errorStateMatcher]="matcher"/>
            @if (email.hasError('email')) {
              <mat-error>
                Please enter a valid email
              </mat-error>
            }
            @if (email.hasError('required')) {
              <mat-error>
                Email is required
              </mat-error>
            }
          </mat-form-field>
          <button mat-flat-button color="primary" type="button" (click)="onSubmit()">
            Send Reset Link
          </button>
          <button mat-stroked-button style="margin-top: 10px;" color="primary" type="button" (click)="navigateToPage('login')">
            Cancel
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</app-page-template>


