<div class="flex flex-col items-center">
    <h1 class="pb-5 pt-5">Select a customer to invoice</h1>

    <app-table-component 
        [loadDataToTable]="loadCustomersToTable.bind(this)" 
        editRedirect="" 
        [hideValues]="['Actions', 'Id']"
        [fetchedData]="customers"
        checkbox="single"
        [checkedIds]="selectedCustomers"
        [setCheckedIds]="setSelectedCustomers.bind(this)"
        searchHint="Search by customer name"
        [headers]="['First Name','Last Name', 'Email', 'Phone No']"
    ></app-table-component>
    @if (selectedCustomersIsError) {
        <mat-error class="mt-3">You must select a customer to invoice</mat-error>    
    }

    <div class="m-10"></div>
    @if (selectedCustomers.length !== 0) {
        <app-table-component 
            [loadDataToTable]="loadQuotesToTable.bind(this)" 
            editRedirect="" 
            [hideValues]="['Actions', 'Id']"
            [fetchedData]="quotes"
            checkbox="multiple"
            [checkedIds]="selectedQuotes"
            [setCheckedIds]="setSelectedQuotes.bind(this)"
            [hideSearch]="true"
            [headers]="['Checkbox','Material Subtotal', 'Total Price', 'Job Description']"
        >
    </app-table-component> 
    @if (selectedQuotesIsError) {
        <mat-error class="mt-3">You must select a quote to include</mat-error>    
    }   
    }

    <button mat-raised-button class="mt-10 mb-5" (click)="onSubmit()">Create</button>

</div>