<div class="parent">
	<div class="main-heading">
		<div class="flex flex-col items-center">
			<h1>
				<span>Create Invoice</span>
			</h1>
			<h2 class="pb-5 pt-5">Select a customer to invoice</h2>
			<app-table-component 
					[loadDataToTable]="loadCustomersToTable.bind(this)" 
					editRedirect="" 
					[hideValues]="['Actions', 'Id']"
					[fetchedData]="customers"
					checkbox="single"
					[checkedIds]="selectedCustomers"
					[setCheckedIds]="setSelectedCustomers.bind(this)"
					searchHint="Search by customer name"
					[headers]="['Checkbox','First Name','Last Name', 'Email', 'Phone No']"
			></app-table-component>
			@if (selectedCustomersIsError) {
					<mat-error class="mt-3">You must select a customer to invoice</mat-error>    
			}
	
			<div class="m-10"></div>
			@if (selectedCustomers.length !== 0) {
				<app-table-component 
						[loadDataToTable]="loadQuotesToTable.bind(this)" 
						editRedirect="" 
						[hideValues]="['Actions', 'Id']"
						[fetchedData]="quotes"
						checkbox="multiple"
						[checkedIds]="selectedQuotes"
						[setCheckedIds]="setSelectedQuotes.bind(this)"
						[hideSearch]="true"
						[headers]="['Checkbox','Material Subtotal', 'Total Price', 'Job Description']"
				>
				</app-table-component> 
				@if (selectedQuotesIsError) {
						<mat-error class="mt-3">You must select a quote to include</mat-error>    
				}   
			}
			<div>
				<mat-form-field class="mt-5 mr-5">
					<mat-label>Status</mat-label>
					<mat-select matNativeControl required [(ngModel)]="status">
							<mat-option value="created">created</mat-option>
							<mat-option value="issued">issued</mat-option>
							<mat-option value="paid">paid</mat-option>
					</mat-select>
			</mat-form-field>
			@if (isDateSelectVisible()) {
					<app-invoice-date-picker 
							[formControll]="range"
							[dateLabels]="['Issuance date', 'Due date']"
					></app-invoice-date-picker>
			}
	
			<mat-form-field>
					<mat-label>Tax rate</mat-label>
					<input matInput
							[formControl]="taxAmount" 
							[errorStateMatcher]="matcher"
							type="number"
					>
					@if (taxAmount.hasError('required')) {
							<mat-error>Tax amount is <strong>required</strong></mat-error>
					}
					@else if (taxAmount.hasError('min') || taxAmount.hasError('max') ) {
						<mat-error class="mb-5">Tax must be between 0-100</mat-error>
					}
					@else if (taxAmount.hasError('notInteger')) {
						<mat-error class="mb-5">Tax must be a whole number</mat-error>
					}
			</mat-form-field>
			</div>
			
			<div class="max-w-md pt-5">
					<p class="text-center text-sm text-gray-600">
							<strong>Disclaimer:</strong> You are responsible for understanding and complying with the tax laws of your jurisdiction.
							We, the software developers, are not liable for any errors, omissions, or legal consequences resulting from your use of this software.
							Always consult a tax professional for guidance.
						</p>
			</div>
			<div class="items-center">
				<button mat-flat-button type="submit" class="mt-10 mb-5" (click)="onSubmit()">Create</button>
				<button mat-raised-button class="mt-10 mb-5" (click)="navigateToPage('invoices')">Cancel</button>
			</div>
		</div>
	</div>
</div>
