<h2 mat-dialog-title>
  @switch (crudType) {
    @case ('Update') {
      Edit Job
    }
    @case ('Create') {
      Create Job
    }
  }
</h2>
<mat-dialog-content>
<form [formGroup]="jobForm">
  <div>
    <mat-form-field>
      <mat-label>Job Description</mat-label>
      <input matInput [formControlName]="'jobAddress'">
    </mat-form-field>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()">{{ crudType }}</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
