<div class="parent">
  <div class="main-heading">
    <div class="table-header">
      <div class="header-bar">
        <h1>
          Create Service
        </h1>
      </div>
      <hr/>
      <mat-card class="p-5 wide-card">
        <form class="parent" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="full-width-field">
            <mat-label>Service Name</mat-label>
            <input
              formControlName = "serviceName"
              matInput
              placeholder="Ex: Painting"
              required
            >
            @if (serviceForm.get('serviceName')?.touched && serviceForm.get('serviceName')?.hasError('required')) {
              <mat-error>Service Name is required</mat-error>
            }
          </mat-form-field>
      
          <mat-form-field class="full-width-field">
            <mat-label>Description</mat-label>
            <textarea 
              matInput 
              formControlName="serviceDescription"
              ></textarea>
          </mat-form-field>
      
          <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
            <button mat-flat-button type="submit">Create</button>
            <button mat-stroked-button (click)="navigateToPage('services')">Cancel</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
