<div class="parent">
  <div class="main-heading">
		@if (invoices === null) {
			<app-loading-fallback stringToDisplay="Loading the invoice table"></app-loading-fallback>
		}
		@else {
			<h1>
				<span>Invoices</span>
			</h1>
			<app-table-component
					[loadDataToTable]="this.loadDataToTable.bind(this)"
					[deleteRequest]="invoiceService.deleteInvoice.bind(invoiceService)"
					searchHint="search by customer name"
					[fetchedData]="invoices"
					[headers]="['Status', 'Due Date', 'Customer']"
					[hideValues]="['Id', 'Tax']"
					[clickableRows]="true"
					[onRowClick]="redirectInvoiceDetails.bind(this)"
					></app-table-component>
			<button data-testid="create-button" mat-fab extended class="m-10" (click)="navigateToPage('invoices/create')">
					<mat-icon>note_add</mat-icon>
					Add a Invoice
			</button>
		}
  </div>
</div>
