<div class="mt-5 border-solid table">
  <table mat-table [dataSource]="displayData" class="mat-elevation-z8 thetable" data-testid="cost-table">

    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> aaa </td>
    </ng-container>

    <ng-container matColumnDef="Flat Fee">
      <th mat-header-cell *matHeaderCellDef> Flat Fee</th>
      <td mat-cell *matCellDef="let element"> aaa </td>
    </ng-container>

    <ng-container matColumnDef="Hourly Rate">
      <th mat-header-cell *matHeaderCellDef> Hourly Rate</th>
      <td mat-cell *matCellDef="let element"> aaa </td>
    </ng-container>

    <ng-container matColumnDef="Hours Worked">
      <th mat-header-cell *matHeaderCellDef> Hours Worked</th>
      <td mat-cell *matCellDef="let element"> aaa </td>
    </ng-container>

    <ng-container matColumnDef="Total Cost">
      <th mat-header-cell *matHeaderCellDef> Total Cost</th>
      <td mat-cell *matCellDef="let element"> aaa </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>

  </table>
</div>
