<mat-card class="transition sm:w-full h-30 hover:-translate-y-1 duration-300 hover:border-sky-300 hover:shadow-xl services-card" [appearance]="'raised'">
  <mat-card-header>
    <mat-card-title><h4 class="text-sky-900">{{pageTitle}}</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content  [style.color]="'#0d98ba'">
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" [routerLink]="link">Go to {{link}}</button>
  </mat-card-actions>
</mat-card>
