<app-page-template [title]="'Quotes'">
    <div class="table-header">
      <div class="tab-container">
        <div class="filter-buttons">
          <button class="scale-button" mat-flat-button [disabled]="filter === ''" (click)="applyFilter('')">All</button>
          <button class="scale-button" mat-flat-button [disabled]="filter === 'created'" (click)="applyFilter('created')">Created</button>
          <button class="scale-button" mat-flat-button [disabled]="filter === 'accepted'"(click)="applyFilter('accepted')">Accepted</button>
          <button class="scale-button" mat-flat-button [disabled]="filter === 'rejected'" (click)="applyFilter('rejected')">Rejected</button>
        </div>
        <div class="spacer"></div>
        <table class="quote-table">
          <thead>
            <tr>
              <th>Job ID</th>
              <th>Customer</th>
              <th>Status</th>
              <th>Start</th>
              <th>End</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quote of quotes" (click)="openQuote(quote)">
              <td>{{ quote.job_id }}</td>
              <td>{{ quote.customer_name }}</td>
              <td>{{ quote.quote_status }}</td>
              <td>{{ quote.start_date || '—' }}</td>
              <td>{{ quote.end_date || '—' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</app-page-template>

