<div class="parent">
  <div class="main-heading">
    <div class="table-header">
      <div class="header-bar">
        <h1>
          <span>Edit contractor</span>
        </h1> 
      </div>
      <hr/>
      <mat-card class="flex p-5 flex-direction: column; items-center">
        <form class="flex flex-col justify-center">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput 
              [formControl]="firstNameControl" [errorStateMatcher]="matcher"
              placeholder="First Name" [value]="lastName">
              @if (firstNameControl.hasError('required')) {
                <mat-error>First Name is <strong>required</strong></mat-error>
              }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput 
              [formControl]="lastNameControl" [errorStateMatcher]="matcher"
              placeholder="Last Name">
              @if (lastNameControl.hasError('required')) {
                <mat-error>Last Name is <strong>required</strong></mat-error>
              }
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput 
              [formControl]="emailControl" [errorStateMatcher]="matcher"
              placeholder="Email">
              @if (emailControl.hasError('required')) {
                <mat-error>Email is <strong>required</strong></mat-error>
              }
              @if (emailControl.hasError('email')) {
                <mat-error>Email is <strong>invalid</strong></mat-error>
              }
          </mat-form-field> 
          <mat-form-field class="example-full-width">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number"
            [formControl]="phoneControl" pattern="(\(\d{3}\)\s?|\d{3}[-.\s])\d{3}[-.\s]?\d{4}">
            @if (phoneControl.hasError('required')) {
              <mat-error>Phone is <strong>required</strong></mat-error>
            }
            @if (phoneControl.hasError('pattern')) {
              <mat-error>Format is <strong>xxx-xxx-xxxx</strong></mat-error>
            }
          </mat-form-field>
          <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
            <button mat-flat-button type="submit" (click)="handleSave()">Save Changes</button>
            <button mat-stroked-button (click)="navigateToPage('contractors')">Cancel</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>

