<div class="parent">
  <div class="main-heading">
    <h1 style="margin-bottom: 20px; margin-top: 20px;">
      Let's get started
    </h1>
    <h2 style="margin-bottom: 20px;">
			Please follow this guide steps to create a user account and organization
		</h2>
    <mat-stepper #stepper [linear]="true">
      <mat-step [stepControl]="userAccountForm">
        <form class="parent" [formGroup]="userAccountForm" (ngSubmit)="onSubmitUserCreation()">
          <ng-template matStepLabel>Account information</ng-template>
          <mat-card class="p-5 wide-card">
            <mat-form-field class="full-width-field">
              <mat-label>User First Name</mat-label>
              <input
                data-testid="user-first-name"
                formControlName = "userFirstName"
                matInput
                placeholder="Ex: John"
                required
              >
              @if (userAccountForm.get('userFirstName')?.touched && userAccountForm.get('userFirstName')?.hasError('required')) {
                <mat-error>First Name is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>User Last Name</mat-label>
              <input
                data-testid="user-last-name"
                formControlName = "userLastName"
                matInput
                placeholder="Ex: Browns"
                required
              >
              @if (userAccountForm.get('userLastName')?.touched && userAccountForm.get('userLastName')?.hasError('required')) {
                <mat-error>Last Name is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>User Email</mat-label>
              <input
                data-testid="user-email"
                formControlName = "userEmail"
                matInput
                placeholder="Ex: first.last@gmail.com"
                required
              >
              @if (userAccountForm.get('userEmail')?.touched && userAccountForm.get('userEmail')?.hasError('required')) {
                <mat-error>Email is required</mat-error>
              }
              @if (userAccountForm.get('userEmail')?.touched && userAccountForm.get('userEmail')?.hasError('email')) {
                <mat-error>Email format is invalid</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Username</mat-label>
              <input
                data-testid="username"
                formControlName = "username"
                matInput
                placeholder="Ex: johnbrowns"
                required
              >
              @if (userAccountForm.get('username')?.touched && userAccountForm.get('username')?.hasError('required')) {
                <mat-error>Username is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Password</mat-label>
              <input
                data-testid="password"
                formControlName = "password"
                type="password"
                matInput
                placeholder="8-16 characters"
                required
              >
              @if (userAccountForm.get('password')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
              }
              
              @if (userAccountForm.get('password')?.hasError('minlength')) {
                <mat-error>Minimum 8 characters required</mat-error>
              }
  
              @if (userAccountForm.get('password')?.hasError('maxlength')) {
                <mat-error>Maximum 16 characters required</mat-error>
              }
              
              @if (userAccountForm.get('password')?.hasError('passwordStrength')) {
                <mat-error>
                  {{ userAccountForm.get('password')?.errors?.['passwordStrength'] }}
                </mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Confirm Password</mat-label>
              <input
                data-testid="confirm-password"
                formControlName = "confirmPassword"
                type="password"
                matInput
                placeholder=""
                required
              >
              @if (userAccountForm.get('confirmPassword')?.touched && userAccountForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>Password is required</mat-error>
              }
              
              @if (userAccountForm.get('confirmPassword')?.hasError('mismatch')) {
                <mat-error>Password do not match</mat-error>
              }
            </mat-form-field>
            <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
              <button data-testid="cancel" mat-stroked-button (click)="navigateToPage('login')">Cancel</button>
              <button data-testid="next-1" mat-flat-button type="submit">Next</button>
            </div>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="registrationForm">
        <form class="parent" [formGroup]="registrationForm">
          <ng-template matStepLabel>Organization details</ng-template>
          <mat-card class="p-5 wide-card">
            <mat-form-field class="full-width-field">
              <mat-label>Organization Name</mat-label>
              <input
                data-testid="organization-name"
                formControlName = "organizationName"
                matInput
                placeholder="Ex: Handyman LLC"
                required
              >
              @if (registrationForm.get('organizationName')?.touched && registrationForm.get('organizationName')?.hasError('required')) {
                <mat-error>Organization Name is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Organization Email</mat-label>
              <input
                data-testid="organization-email"
                formControlName = "organizationEmail"
                matInput
                required
              >
              @if (registrationForm.get('organizationEmail')?.touched && registrationForm.get('organizationEmail')?.hasError('required')) {
                <mat-error>Organization Email is required</mat-error>
              }
              @if (registrationForm.get('organizationEmail')?.touched && registrationForm.get('organizationEmail')?.hasError('email')) {
                <mat-error>Email format is invalid</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Primary phone</mat-label>
              <input 
                data-testid="primary-phone"
                formControlName="organizationPhone"
                matInput 
                placeholder="Phone Number"
                pattern="(\(\d{3}\)\s?|\d{3}[-.\s])\d{3}[-.\s]?\d{4}"
                required
              >
              @if (registrationForm.get('organizationPhone')?.touched && registrationForm.get('organizationPhone')?.hasError('required')) {
                <mat-error>Primary phone is required</mat-error>
              }
              @if (registrationForm.get('organizationPhone')?.hasError('pattern')) {
                <mat-error>Format is <strong>xxx-xxx-xxxx</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Owner Name</mat-label>
              <input
                data-testid="owner-name"
                formControlName = "ownerName"
                matInput
                required
                placeholder="Ex: John Smith"
              >
              @if (registrationForm.get('ownerName')?.touched && registrationForm.get('ownerName')?.hasError('required')) {
                <mat-error>Valid Owner is required</mat-error>
              }
            </mat-form-field>
            <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
              <button data-testid="back-2" mat-stroked-button matStepperPrevious>Back</button>
              <button data-testid="next-2" mat-flat-button matStepperNext type="submit">Next</button>
            </div>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="organizationLocationForm">
        <ng-template matStepLabel>Organization location</ng-template>
        <form class="parent" [formGroup]="organizationLocationForm" (ngSubmit)="onCreateConfirmDialog()">
          <mat-card class="p-5 wide-card">
            <mat-form-field class="full-width-field">
              <mat-label>Address</mat-label>
              <input
                data-testid="address"
                formControlName = "addressOne"
                matInput
                required
              >
              @if (organizationLocationForm.get('addressOne')?.touched && organizationLocationForm.get('addressOne')?.hasError('required')) {
                <mat-error>Primary Address is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>City</mat-label>
              <input
                data-testid="city"
                formControlName="city"
                matInput
                required
              >
              @if (organizationLocationForm.get('city')?.touched && organizationLocationForm.get('city')?.hasError('required')) {
                <mat-error>City is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>State</mat-label>
              <mat-select data-testid="state" formControlName="stateSelect">
                @for (state of states; track state) {
                  <mat-option data-testid="option" [value]="state.name">{{state.name}} - {{state.code}}</mat-option>
                }
              </mat-select>
              @if (organizationLocationForm.get('stateSelect')?.touched && organizationLocationForm.get('stateSelect')?.hasError('required')) {
                <mat-error>State is required</mat-error>
              }
            </mat-form-field>
            <mat-form-field class="full-width-field">
              <mat-label>Zip Code</mat-label>
              <input
                data-testid="zip-code"
                formControlName="zipCode"
                matInput
                required
              >
              @if (organizationLocationForm.get('zipCode')?.touched && organizationLocationForm.get('zipCode')?.hasError('required')) {
                <mat-error>Zip code is required</mat-error>
              }
            </mat-form-field>
            <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
              <button data-testid="back-3" mat-stroked-button matStepperPrevious>Back</button>
              <button data-testid="create" mat-flat-button type="submit">Create</button>
            </div>
          </mat-card>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
