<mat-card class="password-form-card">
    <mat-card-header><h1>Reset Password</h1></mat-card-header>
    <form [formGroup]="userAccountForm">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          type="password"
          matInput
          placeholder="8-16 characters"
          required
        />
        @if (userAccountForm.get('password')?.touched && userAccountForm.get('password')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
        @if (userAccountForm.get('password')?.touched && userAccountForm.get('password')?.hasError('minlength')) {
          <mat-error>Minimum 8 characters required</mat-error>
        }
        @if (userAccountForm.get('password')?.touched && userAccountForm.get('password')?.hasError('maxlength')) {
          <mat-error>Maximum 16 characters required</mat-error>
        }
        @if (userAccountForm.get('password')?.touched && userAccountForm.get('password')?.hasError('passwordStrength')) {
          <mat-error>
            {{ userAccountForm.get('password')?.errors?.['passwordStrength'] }}
          </mat-error>
        }
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
          formControlName="confirmPassword"
          type="password"
          matInput
          placeholder=""
          required
            
        />
        @if (userAccountForm.get('confirmPassword')?.hasError('required')) {
          <mat-error>Password is required</mat-error>
        }
        @else if (userAccountForm.get('confirmPassword')?.hasError('mismatch')) {
          <mat-error>Password do not match</mat-error>
        }
      </mat-form-field>
    </form>
    <mat-card-footer>    
        <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
    </mat-card-footer>
  </mat-card>
  