<div class="parent">
  <div class="main-heading">
    <h1>
      <span>Edit {{this.currentServiceName}} service</span>
    </h1>
  </div>
  <form class="parent" [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>New name</mat-label>
      <input
        formControlName = "serviceName"
        matInput
        placeholder="Ex: Painting"
        required
      >
      @if (serviceForm.get('serviceName')?.touched && serviceForm.get('serviceName')?.hasError('required')) {
        <mat-error>Service Name is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        formControlName = "serviceDescription"
        matInput
      ></textarea>
    </mat-form-field>

    <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
      <button mat-flat-button type="submit">Save Changes</button>
      <button mat-stroked-button (click)="navigateToPage('services')">Cancel</button>
    </div>
  </form>
</div>
