.venv
__pycache__

# this removal is to prevent commits of angular->django
# because angular is being served through static files, we shouldn't use the staticdir for important assets.
static/browser
static/prerendered-routes.json
static
.coverage

# finegrain remove index.html from templates
templates/index.html

# lmao don't commit these files
celerybeat-*