@use '@angular/material' as mat;
@use '_theme-colors.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;


@include mat.core();

html {
  @include mat.all-component-themes(theme-colors.$primary-palette)
}

html, body {
  height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  @include mat.toolbar-overrides((
      container-background-color: #005cbb,
      container-text-color: white,
  ));
}
