/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
    @include mat.theme((
        color: (
            primary: mat.$azure-palette,
            tertiary: mat.$blue-palette,
            theme-type: light,
        ),
        density: 0
    ));

    @include mat.toolbar-overrides((
        container-background-color: #005cbb,
        container-text-color: white,
    ));
}