<app-page-template [title]="'Invoices'">
		@if (invoices === null) {
			<app-loading-fallback stringToDisplay="Loading the invoice table"></app-loading-fallback>
		}
		@else {
			<div class="table-header">
				<div class="header-bar">
					<button class="mb-4" mat-flat-button data-testid="create-button" (click)="navigateToPage('invoices/create')">
						<mat-icon>add</mat-icon>
						Add Invoice
				</button>
				</div>
				<app-table-component
					[loadDataToTable]="this.loadDataToTable.bind(this)"
					editRedirect="/edit/invoice"
					[deleteRequest]="invoiceService.deleteInvoice.bind(invoiceService)"
					searchHint="search by customer name"
					[fetchedData]="invoices"
					[headers]="['Status', 'Due Date', 'Customer']"
					[hideValues]="['Id', 'Tax']"
					[clickableRows]="true"
					[onRowClick]="redirectInvoiceDetails.bind(this)"
				></app-table-component>
			</div>
		}
</app-page-template>
