<div class="main-heading">
    @if (discounts === null) {
      <app-loading-fallback stringToDisplay="Loading discounts"></app-loading-fallback>
    }
    @else {
      <h1>
        <span>Contractors</span>
      </h1>
      <app-table-component
        [tableModel]="'discounts'"
        [fetchedData]="discounts"
        [deleteRequest]="this.discountService.deleteDiscount.bind(discountService)"
        [loadDataToTable]="this.loadDataToTable.bind(this)"
        [hideValues]="['Id']"
        searchHint="Search by discount name"
        [headers]="['Discount Name', 'Discount Percent', 'Phone Number']"
      ></app-table-component>


    <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
      <button mat-fab extended class="m-10" id="add-discount-button" (click)="navigateToPage('discounts/create')">
        <mat-icon>note_add</mat-icon>
        Add a Discount
      </button>
    </div>
    }
</div>
