<app-page-template [title]="'Discounts'">
    @if (loading) {
      <app-loading-fallback stringToDisplay="Loading discounts"></app-loading-fallback>
    }
    @else {
      <app-table-component
        [tableModel]="'discounts'"
        [fetchedData]="discounts"
        [deleteRequest]="this.discountService.deleteDiscount.bind(discountService)"
        [loadDataToTable]="this.loadDataToTable.bind(this)"
        [hideValues]="['Id']"
        searchHint="Search by discount name"
        [headers]="['Discount Name', 'Discount Percent', 'Phone Number']"
      ></app-table-component>
    }
</app-page-template>

