<app-page-template [title]="'Materials'">
  <div class="main-heading">
    @if (loading) {
      <app-loading-fallback stringToDisplay="Loading materials"></app-loading-fallback>
    }
    @else {
      <app-table-component
        [fetchedData]="materials"
        [tableModel]="'materials'"
        [deleteRequest]="materialService.deleteMaterial.bind(materialService)"
        [loadDataToTable]="this.loadDataToTable.bind(this)"
        [hideValues]="['Id']"
        [searchHint]="'Search by material name'"
        [headers]="['Material Name', 'Material Description']"
      ></app-table-component>

    }
  </div>
</app-page-template>
