<mat-toolbar>
    <span>
				<button (click)="viewDay()"
                [class]="isDay() ? 'selected button' : 'button'">Day</button>
				<button (click)="viewWeek()"
                [class]="!isDay() ? 'selected button' : 'button'">Week</button>
    </span>

  <span class="flex-auto mt-4">
			<mat-form-field appearance="fill" class="ml-4" style="width: 60%">
				<mat-label>Select a contractor</mat-label>
				<mat-select [formControl]="selectControl" data-testid="contractor">
				  <mat-option *ngFor="let contractor of contractorNames" [value]="contractor">
					{{ contractor.name }}
				  </mat-option>
				</mat-select>
			  </mat-form-field>
        </span>
  <span>

    </span>
  <div class="flex flex-row justify-evenly items-center">


    <button mat-raised-button (click)="downloadIcal()">
      <mat-icon>file_download</mat-icon>
      {{ isDay() ? "Download all bookings for the day" : "Download all bookings for the week" }}
    </button>
  </div>
</mat-toolbar>
<div class="container">
  <div class="navigator" data-testid="nav">
    <daypilot-navigator [config]="configNavigator" [events]="events" [(date)]="date"
                        (dateChange)="changeDate($event)" #navigator></daypilot-navigator>
  </div>
  <div class="content">
    <div class="buttons" data-testid="buttons">
    </div>
    <daypilot-calendar [config]="configDay" [events]="events" #day data-testid="cal"></daypilot-calendar>
    <daypilot-calendar [config]="configWeek" [events]="events" #week data-testid="cal"></daypilot-calendar>
  </div>
</div>
