<app-page-template [title]="'Materials'">
    @if (materials === null) {
      <app-loading-fallback stringToDisplay="Loading materials"></app-loading-fallback>
    }
    @else {
      <div class="table-header">
        <button class="mb-4 scale-button" mat-flat-button id="add-material-button" (click)="navigateToPage('materials/create')">
          <mat-icon>add</mat-icon>
          Add Material
        </button>
      </div>
      <div class="tab-container">
        <app-table-component 
          editRedirect="/materials/edit" 
          [fetchedData]="materials"
          [deleteRequest]="materialService.deleteMaterial.bind(materialService)"
          [loadDataToTable]="this.loadDataToTable.bind(this)" 
          [hideValues]="['Id']" 
          searchHint="Search by material name"
          [headers]="['Material Name']"
        ></app-table-component>
      </div>
      <div class="spacer"></div>
    }
</app-page-template>
