.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin-right: 8px;
}

header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-heading{
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

.main-heading h1{
  font-size: 50px;
}

.wide-card {
    width: 400px;
    margin: 0 auto;
}
  
.full-width-field {
    width: 100%;
    margin-bottom: 5px;
}

.spacer {
  flex: 1 1 auto;
  min-height: 20px;
}
  