<app-page-template [title]="'Booking and Calendar'">
@if (contractors === null) {
  <app-loading-fallback stringToDisplay="loading Your bookings"></app-loading-fallback>
}
@else {
  <div class="parent">
    <div class="main-heading">
      <div class="table-header">
        <mat-card class="flex p-10 flex-direction: column; items-left">
          <app-calendar-component [contractorNames]="contractors"></app-calendar-component>
        </mat-card>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </div>
}
</app-page-template>
