@if (contractors === null) {
  <app-loading-fallback stringToDisplay="loading Your bookings"></app-loading-fallback>
}
@else {
  <div class="parent">
    <div class="main-heading">
      <div class="table-header">
        <div class="header-bar">
          <h1>
            Booking and Calendar
          </h1>
        </div>
        <hr/>
        <mat-card class="flex p-10 flex-direction: column; items-left">
          <app-calendar-component [contractorNames]="contractors"></app-calendar-component>
        </mat-card>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
  </div>
}