.info-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse;
  margin: 20px 0;
}

.info-table th:first-child,
.info-table td:first-child {
  width: 15%;
  white-space: nowrap; 
  padding-right: 20px; 
}

.info-table th:nth-child(2),
.info-table td:nth-child(2) {
  width: 50%;
  word-wrap: break-word;
}

.info-table td, .info-table th {
  border: 1px solid #000000;
  padding: 12px;
  text-align: left;
}
.info-table th {
  background-color: #7b93a1;
}

.spacer {
  flex: 1 1 auto;
  min-height: 20px;
}

.wide-card {
  width: auto;
  margin: 0 auto;
}

.flex-split {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.spacer {
  flex: 1 1 auto;
  min-height: 20px;
}

.tab-container {
	width: auto;
	min-width: 60vw;
	max-width: 60vw;
}

.tab-content {
	width: 100%;
	height: 100%;
}

@media (max-width: 768px) {
  .scale-button {
      scale: 1;
      padding: 10px;
  }

  .tab-container {
      width: auto;
      min-width: 90vw;
      max-width: 90vw;
  } 

  .table-header hr {
      max-width: 90vw;
  }

  .card-container {
    padding: 1px;
  }

  .info-table {
    width: 100%; 
    border-collapse: collapse;
    margin: 10px 0;
  }

  .info-table th:first-child,
  .info-table td:first-child {
    width: 15%;
    white-space: normal;
    overflow: hidden;          
    text-overflow: ellipsis; 
    padding-right: 10px; 
  }
}

@media (max-height: 400px) {
  .spacer {
      flex: 1 1 auto;
      min-height: 20px;
    }

  .info-table th:first-child,
  .info-table td:first-child {
    width: 20%;
    white-space: normal;
    overflow: hidden;          
    text-overflow: ellipsis; 
    padding-right: 10px; 
  }
}