<h2 mat-dialog-title>
  @switch (crudType) {
    @case ('Update') {
      Edit Service
    }
    @case ('Create') {
      Create Service
    }
  }
</h2>
<mat-dialog-content>
  <form>
      <mat-form-field>
          <mat-label>New name</mat-label>
          <input [formControl]="serviceNameControl"
                  matInput
                  placeholder="Ex: Painting"
                  required
          >
          @if (serviceNameControl.hasError('required')) {
              <mat-error>Service Name is required</mat-error>
          }
      </mat-form-field>

      <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea
                  [formControl]="serviceDescriptionControl"
                  matInput
          ></textarea>
      </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onSubmit()">{{ crudType }}</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
