.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin-right: 8px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

header {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-heading{
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.main-heading h1{
  font-size: 50px;
}

.info-table {
  width: 100%; 
  table-layout: fixed; 
  border-collapse: collapse;
  margin: 20px 0;
}

.info-table th:first-child,
.info-table td:first-child {
  width: 10%;
  white-space: nowrap; 
  padding-right: 20px; 
}

.info-table th:nth-child(2),
.info-table td:nth-child(2) {
  width: 50%;
  word-wrap: break-word;
}

.info-table td, .info-table th {
  border: 1px solid #000000;
  padding: 12px;
  text-align: left;
}

.info-table th {
  background-color: #7b93a1;
}

.spacer {
  flex: 1 1 auto;
  min-height: 20px;
}

.full-width {
  width: 100%
}
