<div class="parent">
  <div class="main-heading">
    @if (false) {
    <app-loading-fallback stringToDisplay="Loading the job table"></app-loading-fallback>
    }
    @else {
    <h1>
      <span>Jobs</span>
    </h1>
    <mat-tab-group [disablePagination]="true" (selectedTabChange)="onTabChange($event)">
      <mat-tab [label]="'Created'">
        <div class="small-box mat-elevation-z4">
          <app-table-component editRedirect="/jobs/edit" [fetchedData]="tabStates.Created.data"
            [deleteRequest]="jobService.deleteJob.bind(jobService)" [loadDataToTable]="this.loadDataToTable.bind(this)"
            searchHint="Search by any keywords" [checkbox]="'actions'" [hideValues]="['Id']" [width]="'auto'"
            [clickableRows]="true" [onRowClick]="redirectJobDetails.bind(this)"></app-table-component>

        </div>
      </mat-tab>
      <mat-tab [label]="'In Progress'">
        <div class="large-box mat-elevation-z4">
          <app-table-component editRedirect="/jobs/edit" 
          [fetchedData]="tabStates['In Progress'].data"
            [deleteRequest]="jobService.deleteJob.bind(jobService)" [loadDataToTable]="this.loadDataToTable.bind(this)"
            searchHint="Search by any keywords" [checkbox]="'actions'" [hideValues]="['Id']" [width]="'auto'"
            [clickableRows]="true" [onRowClick]="redirectJobDetails.bind(this)"></app-table-component>

        </div>
      </mat-tab>
      <mat-tab [label]="'Complete'">
        <div class="large-box mat-elevation-z4">
          <app-table-component editRedirect="/jobs/edit" [fetchedData]="tabStates.Completed.data"
            [deleteRequest]="jobService.deleteJob.bind(jobService)" [loadDataToTable]="this.loadDataToTable.bind(this)"
            searchHint="Search by any keywords" [checkbox]="'actions'" [hideValues]="['Id']" [width]="'auto'"
            [clickableRows]="true" [onRowClick]="redirectJobDetails.bind(this)"></app-table-component>

        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="flex flex-row justify-between justify-content: space-between margin-top: 10px">
      <button mat-fab extended class="m-10" id="add-job-button" (click)="navigateToPage('jobs/create')">
        <mat-icon>note_add</mat-icon>
        Add a job
      </button>
    </div>
    }
  </div>
</div>