<div class="flex flex-col items-center mt-4">
    <mat-card class="p-5">
        <div>Editing invoice for customer: {{customerName}}</div>
        <div>with issuance date: {{issuanceDate}}</div>
        <div>and due date: {{dueDate}}</div>
        <div>and status: {{status}}</div>
    </mat-card>

    <mat-form-field class="pt-5">
        <mat-label>Status</mat-label>
        <select matNativeControl required [(ngModel)]="status">
            <option value="created">created</option>
            <option value="issued">issued</option>
            <option value="paid">paid</option>
        </select>
    </mat-form-field>
    <app-invoice-date-picker [formControll]="range"></app-invoice-date-picker>

    <h1 class="pb-5">Select new quotes for this invoice</h1>

    <app-table-component [loadDataToTable]="loadQuotesToTable.bind(this)" editRedirect=""
        [hideValues]="['Actions', 'Id']" [fetchedData]="quotes" checkbox="multiple" [checkedIds]="selectedQuotes"
        [setCheckedIds]="setSelectedQuotes.bind(this)" [hideSearch]="true"
        [headers]="['Checkbox','Material Subtotal', 'Total Price', 'Job Description']">
    </app-table-component>
    @if (selectedQuotesIsError) {
    <mat-error class="mt-3">You must select a quote to include</mat-error>
    }

    <button mat-raised-button class="mt-10 mb-5" (click)="onSubmit()">Submit</button>

</div>